<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Home Page</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>LMS</title>

</head>

<body>
<div th:insert="fragments/header :: header"></div>
<nav th:fragment= "header" class="navbar navbar-expand-lg navbar-dark" style="background-color: #090824; color: white;">
    <a class="navbar-brand">Library Management System</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse " id="navbarSupportedContent" >

        <ul class="navbar-nav mr-auto" >
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only"></span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/api/book/list">Books </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/api/publisher/list">Publishers </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/api/author/list">Authors </a>
            </li>
            <li class="nav-item active">
            </li>
        </ul>
    </div>
    <form th:action="@{/api/book/searchBook}" class="form-inline">
        <input class="form-control" type="text" placeholder="Search" aria-label="Search" name="keyword" id="keyword" th:value="${keyword}">
        <input class="btn btn-outline-success active my-2 my-sm-0" type="submit" value="Search" />
    </form>
    </div>
</nav>


</body>
</html>