<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet"href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    <title>Authors</title>
</head>
<body>
<div th:insert="fragments/header :: header"></div>
<div class="container">
    <div sec:authorize="hasRole('USER')">
    <hr>
    <a href="/api/author/addAuthor"><button  type="button" class="btn btn-outline-secondary">Add Author</button></a></div>
    <hr>
    <table class="table table-striped table-responsive-md">

        <thead class="thead-dark">
        <tr>
            <th>Author Name</th>
            <th>Description</th>
            <th sec:authorize="hasRole('USER')">Edit</th>
            <th sec:authorize="hasRole('USER')">Delete</th>
        </thead>
        </tr>
        </thead>
        <tbody>
        <tr th:each="author : ${authors}">
            <td th:text="${author.n_sname}"/>
            <td th:text="${author.description}"/>
            <td sec:authorize="hasRole('USER')"><a th:href="@{/api/author/updateAuthor/{id}(id=${author.id})}" class="btn btn-primary"><i class="fas fa-edit"></i></a></td>
            <td sec:authorize="hasRole('USER')"><a th:href="@{/api/author/delete/{id}(id=${author.id})}" class="btn btn-primary"><i class="far fa-trash-alt"/></a></td>
        </tr>

        </tr>
        </tbody>
    </table>
</div>
<div th:insert="fragments/footer :: footer"></div>
</body>
</html>